body,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

:visited {
    color: inherit;
}

:link {
    color: inherit;
    text-decoration: none;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.route-view {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}


input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

input[type="checkbox"]+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
}

input[type="checkbox"]:checked+label::before {
    background-color: #ff968f;
    border-color: #ff968f;
}

input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

input[type="checkbox"]:checked+label::after {
    content: "";
    position: absolute;
    left: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkbox-label {
    margin-left: 0.3rem;
}

.bg-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 99;
    display: flex;
    align-content: center;
    align-items: center;
}


@font-face {
    font-family: 'garam lotus';
    src: url("../fonts/나눔손글씨\ 가람연꽃.ttf");
}

@font-face {
    font-family: 'RadiantlySignature';
    src: url("../fonts/RadiantlySignature.otf");
}

@font-face {
    font-family: 'sophia martini';
    src: url("../fonts/Sophia\ Martini.otf");
}

@font-face {
    font-family: 'palatino';
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/palatinolinotype_roman.ttf");
}

@font-face {
    font-family: 'palatino';
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/palatinolinotype_bold.ttf");
}

@font-face {
    font-family: 'palatino';
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/palatinolinotype_italic.ttf");
}

@font-face {
    font-family: 'palatino';
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/palatinolinotype_bolditalic.ttf");
}