.footer-static {
  background-color: rgb(204, 174, 166);
  position: relative;
  width: calc(100% - 4rem);
  padding: 0 2rem;
  max-width: 1000px;
  height: 4rem;
  margin: 0 auto;
  color: #76424a;
  z-index: 2;
  flex-shrink: 0;
}
