.subtitle-section {
  font-size: 2.3rem;
  font-family: "Pretendard";
  font-weight: 700;
  word-break: keep-all;
  min-height: 6rem;
  color: rgb(71, 45, 45);
}

.profile {
  display: flex;
  flex-direction: row;
  font-family: "Pretendard";
  position: relative;
  /* Ensure that position context is set */
}

.highlight-text {
  /* background: linear-gradient(to top, rgba(255, 255, 0, 0.5) 50%, transparent 50%); */
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
}

.highlight-text::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  height: 70%;
  /* background-color: rgba(255, 255, 0, 0.5); */
  z-index: -1;
}

.highlight-text.yellow {
  background: linear-gradient(
    to top,
    rgba(255, 192, 0, 0.5) 70%,
    transparent 70%
  );
}

.highlight-text.pink {
  background: linear-gradient(
    to top,
    rgba(255, 150, 143, 0.5) 70%,
    transparent 70%
  );
}

.profile-pic {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.profile-pic img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic-caption {
  font-size: 0.8rem;
  text-align: center;
  color: #666;
  padding-top: 0.5rem;
}

.profile-text {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  flex-grow: 1;
  word-break: keep-all;
}

.profile-text.martin {
  padding-left: 5px;
}

.profile-text.alley {
  align-items: flex-end;
  padding-right: 30px;
}

.name-section {
  display: flex;
  height: fit-content;
  align-items: flex-end;
}

.eng-name {
  height: fit-content;
}

.eng-name.martin {
  font-family: "RadiantlySignature";
  font-size: 1.5rem;
  font-weight: bold;
  /* color: #ffc000; */
  background: linear-gradient(
    to top,
    rgba(255, 192, 0, 0.5) 50%,
    transparent 50%
  ) ;
  background-repeat: no-repeat;
  background-size: 100% 90%; /* 배경 크기 조정 */
  background-position: 0 35%;
}


.eng-name.alley {
  font-size: 3rem;
  font-family: "garam lotus";
  font-weight: bold;
  /* color: #ff968f; */
  padding: 0.7rem 0;
  background: linear-gradient(
    to top,
    rgba(255, 150, 143, 0.5) 40%,
    transparent 40%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%; /* 배경 크기 조정 */
  background-position: 0 30%;
}

.kor-name {
  height: fit-content;
  font-weight: 600;
}

.bio {
  padding-bottom: 0.5rem;
  font-weight: 500;
}

.bio.martin {
  margin-top: -0.5rem;
}

.desc {
  font-size: 0.9rem;
  width: calc(100% - 30px);

  line-height: 1.2rem;
}

.desc.alley {
  text-align: right;
}

.mosaic {
  background-image: radial-gradient(currentColor 1px, transparent 1px);
  background-size: 2.5px 2.5px; /* 점 간격 조정 */
  color: rgba(0,0,0,.8); /* 점 색상 */
  width: 1rem; /* 영역 너비 */
  height: 1rem; /* 영역 높이 */
  display: inline-block;
  position: relative;
  text-align: center;
  top: .2rem;
}

/* @media */
@media (max-width: 900px) {
  .profile.alley {
    flex-direction: row-reverse;
  }

  .profile-pic img {
    width: 150px;
    height: 150px;
    margin-top: 2rem;
  }

  .name-section.alley {
    flex-direction: row-reverse;
    margin-right: auto;
  }

  .profile-text {
    display: flex;
    flex-direction: column;
    width: calc(100% - 180px);
  }

  .profile-text.martin {
    padding: 0;
  }

  .profile-text.alley {
    padding: 0;
    align-items: unset;
  }

  .desc {
    width: 100%;
  }

  .desc.alley {
    text-align: unset;
  }
}

@media (max-width: 768px) {
  .subtitle-section{
    font-size: 2.2rem;
  }

  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile.alley {
    flex-direction: column-reverse;
  }

  .profile-text {
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
  }

  .desc {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .subtitle-section{
    font-size: 1.8rem;
  }

  .eng-name.martin {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
  .eng-name.alley {
    font-size: 2rem;
  }
}
