/* .bg-main-page {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-image: url('../imgs/bg-mainpage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

@keyframes gradientWave {
  0% {
    background-position: 30% 50%;
  }

  50% {
    background-position: 70% 50%;
  }

  100% {
    background-position: 30% 50%;
  }
}

.wave-gradient {
  width: 100%;
  height: 100vh;
  background: linear-gradient(60deg, #cea346 30%, #ff968f 70%);
  background-size: 200% 200%;
  position: relative;
  overflow: hidden;
}

.wave-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M0 0 C 25 100 75 0 100 100 L 100 0 Z" /></svg>');
  mask-size: cover;
  animation: gradientWave 7s infinite;
}

.main-page {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.site-title-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
}

.site-title {
  font-family: 'Sophia Martini';
  font-size: 5rem;
  text-align: center;
  /* font-style: italic; */
  margin: -2rem 0;
}


.main-nav {
  font-family: 'Palatino Linotype';
  font-size: 2rem;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: row;
  width: 100%;
}

.main-nav-item {
  flex: 1;
  cursor: pointer;
  text-align: center;
  /* border-bottom: #fff 1px solid; */
  padding: .5rem 0;
  position: relative;
}

.main-nav-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: width 0.2s ease-in-out;
}

.main-nav-item:hover::after {
  width: 100%;
}

/* @media */
@media (max-width: 1920px) {
  .main-nav {
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .site-title {
    font-size: 4rem;
    margin: -1rem;
  }

  .main-nav {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .site-title {
    font-size: 3rem;
    margin: -0.75rem;
  }

  .main-nav {
    flex-direction: column;
  }

  .main-nav-item {
    padding: 1rem 0;
  }

  .main-nav-item::after {
    height: 1px;
  }
}

@media (max-width: 600px) {
  .site-title {
    font-size: 2rem;
    margin: -0.5rem;
  }

  .main-nav-item {
    padding: .5rem 0;
  }
}