.main-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.site-title-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
}

.site-title {
  font-family: 'Sophia Martini';
  font-size: 5rem;
  text-align: center;
  /* font-style: italic; */
  margin: -2rem 0;
}


.main-nav {
  font-family: 'Palatino';
  font-size: 2rem;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: row;
  width: 100%;
}

.main-nav-item {
  flex: 1;
  cursor: pointer;
  text-align: center;
  /* border-bottom: #fff 1px solid; */
  padding: .5rem 0;
  position: relative;
}

.main-nav-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: width 0.2s ease-in-out;
}

.main-nav-item:hover::after {
  width: 100%;
}

/* @media */
@media (max-width: 1920px) {
  .main-nav {
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .site-title {
    font-size: 4rem;
    margin: -1rem;
  }

  .main-nav {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .site-title {
    font-size: 3rem;
    margin: -0.75rem;
  }

  .main-nav {
    flex-direction: column;
  }

  .main-nav-item {
    padding: 1rem 0;
  }

  .main-nav-item::after {
    height: 1px;
  }
}

@media (max-width: 768px) {
  .site-title {
    font-size: 2rem;
    margin: -0.5rem;
  }

  .main-nav-item {
    padding: .5rem 0;
  }
}